.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 40px;
    background: #FFFFFF;
    max-width: 1440px;
    width: 100%;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.ulNavbar{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.expertiseLi{
    display: flex;
    align-items: center;
}

.ulNavbar li{
    margin-right: 40px;
    list-style: none;
}

.ulNavbar .links{
    font-family: Jost;
    font-size: 20px;
    font-weight: 470;
    line-height: 20px;
    letter-spacing: 0.699999988079071px;
    text-align: left;
    color: #005C68;
    text-decoration: none;
}

.logo{
    position: relative;
    display: flex;
    align-items: center;
}

.logoText{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 18px;
}

.langContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.langText{
    font-family: Jost;
    font-size: 20px;
    font-weight: 470;
    line-height: 20px;
    letter-spacing: 0.699999988079071px;
    text-align: left;
    color: #005C68;
    margin-right: 8px;
}

.langText2{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 470;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.7px;
    color: #81B2B9;
}

.arrowIcon{
    color: #005C68;
    margin-left: 8px;

}