.sectionContent{
    max-width: 1440px;
    width: 100%;
    background: #006674;
    display: flex;
}

.titleContent{
    padding: 100px 104px;
    display: flex;
    flex-direction: column;
}

.title{
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 510;
    font-size: 72px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    font-variation-settings: 'opsz' 72;
}

.imageContent{
    position: relative;
    padding: 32px;
}

.iconDiv{
    width: 60px;
    background: white;
    text-align: center;
    border-radius: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 83px;
    left: -13px;
}

.icon{
    font-size: 40px;
    color: #006674;
}